
.baner {
    
    width: 100%;
    height: 80rem;

    .baner__img {
        width: 100%;
        height: 80rem;
    }
    .carousel{
        margin: 0px;
        padding: 0px;
    }
}
@media (max-width: 667px) {
    .baner {
        height: auto;
        width: 100%;
        .baner__img {
            height: 25rem;
        }
    }
}

.text-nav {
    font-size: 3rem;
}
header{
    margin:0px;
    padding: 0px;
    width: 100%;
    
    .header__logo {
        margin-top: 8rem;
        width: 100%;
        img{
            width: 100%;
            height: auto;
        }
    }
}